<div
  class="prose prose-neutral prose-base dark:prose-invert prose-headings:font-mono prose-headings:font-normal font-sans mx-auto w-full"
  prose-a:text-blue-600
  prose-img:rounded-xl
>
  <slot />
</div>
