---
import Layout from "../layouts/Layout.astro";
import TypewriterEffect from "../components/TypewriterEffect";
import { ChevronUp } from "lucide-react";
---

<Layout title="Drew Beamer" gradientBackground={true}>
  <header class="relative h-screen -top-16 flex items-center justify-start">
    <div
      class="flex items-center justify-between bg-card/60 backdrop-blur-sm shadow-xl rounded-xl p-8"
    >
      <div class="flex flex-col items-start gap-4">
        <h1 class="text-5xl font-mono font-medium">Drew Beamer</h1>
        <p class="text-sm text-card-foreground flex gap-2">
          <TypewriterEffect
            client:load
            words={[
              "Software Engineer",
              "FRC Mentor",
              "Birder",
              "Problem Solver",
            ]}
          />
        </p>
      </div>
    </div>
  </header>

  <div id="rocket-container" class="fixed inset-0 pointer-events-none z-0">
  </div>
  <div
    id="custom-cursor"
    class="fixed pointer-events-none z-50 text-neutral-500 hidden"
  >
    <ChevronUp className="size-12" />
  </div>
</Layout>

<script is:inline>
  function createRocket(x, y) {
    const rocket = document.createElement("div");
    rocket.textContent = "🚀";
    rocket.style.position = "absolute";
    rocket.style.left = `${x}px`;
    rocket.style.top = `${y}px`;
    rocket.style.fontSize = "2rem";
    rocket.style.transition = "all 1s cubic-bezier(0.4, 0, 0.2, 1)";

    const container = document.getElementById("rocket-container");
    container?.appendChild(rocket);

    const angle = (Math.random() * 60 - 30) * (Math.PI / 180);

    const windowDiagonal = Math.sqrt(
      window.innerWidth ** 2 + window.innerHeight ** 2
    );
    const endX = x + Math.cos(angle) * windowDiagonal;
    const endY = y - windowDiagonal;

    requestAnimationFrame(() => {
      rocket.style.transform = `translate(${endX - x}px, ${endY - y}px) rotate(${angle}rad)`;
      rocket.style.opacity = "0";
    });

    setTimeout(() => {
      rocket?.remove();
    }, 1000);
  }

  document.querySelector("header")?.addEventListener("click", (e) => {
    createRocket(e.clientX, e.clientY);
  });
</script>
