---
import { getCollection, render } from "astro:content";
import { ArrowLeft } from "@lucide/astro";
import Layout from "@/layouts/Layout.astro";
import Prose from "@/layouts/Prose.astro";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { project: project.id },
		props: { project },
	}));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout
  title={`${project.data.title} | Drew Beamer`}
  description={project.data.description}
>
  <div class="flex w-full flex-col gap-y-6">
    <a href="/" class="text-muted-foreground flex items-center gap-x-2 text-sm">
      <ArrowLeft class="size-4" />
      Back
    </a>
    <Prose>
      <h1 class="font-sans text-4xl font-normal">{project.data.title}</h1>
      <Content />
    </Prose>
  </div>
</Layout>
