---
import Prose from "@/components/layout/Prose.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { project: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout title="Projects">
  <Prose>
    <h1 class="font-normal font-sans">{project.data.title}</h1>
    <Content />
  </Prose>
</Layout>
