---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { ChevronRight } from "lucide-react";
import ContentCard from "@/components/layout/ContentCard";

const projects = await getCollection("projects");
---

<Layout title="Projects" gradientBackground>
  <ContentCard>
    <h1 class="text-4xl font-mono font-medium mb-6 px-4">Projects</h1>
    <ul class="w-full space-y-4">
      {
        projects.map((project) => (
          <li>
            <a
              href={`/projects/${project.slug}`}
              class="flex items-center justify-between hover:bg-card/50 transition-all duration-300 rounded-md p-4 group"
            >
              <div class="flex flex-col gap-2">
                <span class="text-lg font-mono">{project.data.title}</span>
                <span class="text-sm text-muted-foreground">
                  {project.data.description}
                </span>
              </div>
              <ChevronRight className="size-8 text-muted-foreground" />
            </a>
          </li>
        ))
      }
    </ul>
  </ContentCard>
</Layout>
