---
import Navbar from "@/components/layout/Navbar";
import "@/styles/globals.css";
import Footer from "@/components/layout/Footer";
import GradientBackground from "@/components/layout/GradientBackground";

interface Props {
  title: string;
  description?: string;
  gradientBackground?: boolean;
}

const {
  title,
  description = "Drew Beamer's personal website",
  gradientBackground = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-sans overscroll-none">
    <div class="flex min-h-screen flex-col">
      <Navbar />
      <div class="flex-1 pt-16 pb-8 container mx-auto px-4 dark:bg-neutral-950">
        {gradientBackground && <GradientBackground />}
        <div class="relative z-10 backdrop-blu">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
