@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900;
  @apply min-h-screen;
  @apply text-white;
  @apply antialiased;
}

.prose h1 {
  @apply text-green-400;
  @apply drop-shadow-lg;
}

.prose a {
  @apply text-green-400;
  @apply hover:text-green-500;
}

.prose code {
  @apply text-sm;
}

.prose pre {
  @apply overflow-x-auto;
}

.page-wrapper {
  @apply my-16;
}

html,
body {
  font-family: "assistant", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
